.sidenav-menu {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    transition: opacity 0.3s, transform 0.3s;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    opacity: 0;
    visibility: hidden;
    z-index: 40;
}

.menu-icon:hover {
    transform: scale(1.4);
    transition: transform 1s ease-in-out;
}

.side-menu-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scaleX(1);
    transition: transform 0.5s;
}

.side-menu-closing {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.5s;
}

.frame4Slider {
    transform: translateY(200%);
    animation: frame4Slide 2s 3s forwards;
}

@keyframes frame4Slide {
    to {
        transform: translateY(0);
    }
}

.frame5Slider {
    transform: translateY(200%);
    animation: frame5Slide 2s 2s forwards;
}

@keyframes frame5Slide {
    to {
        transform: translateY(0);
    }
}

.leftSliderChild1 {
    transform: translateX(300%);
    opacity: 0;
    animation: SliderChild 2s 3s forwards;
}

.leftSliderChild2 {
    opacity: 0;
    transform: translateX(150%);
    animation: SliderChild 2s 3s forwards;
}

.rightSliderChild1 {
    opacity: 0;
    transform: translateX(-150%);
    animation: SliderChild 2s 3s forwards;
}


.rightSliderChild2 {
    opacity: 0;
    transform: translateX(-300%);
    animation: SliderChild 2s 3s forwards;
}

@keyframes SliderChild {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.sliderMainCircle {
    transform: scale(0);
    animation: sliderMainCircle 2s 2s forwards;
}

@keyframes sliderMainCircle {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }

}