.rotation {
    transform: rotate3d(-50, -15, -6, 50deg) !important;
}

.footerRow {
    animation: footerRow 1.5s ease-in-out;

}

@keyframes footerRow {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}