.pulsebutton {
    /* position: relative; */
    /* top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px; */
    /* display: block; */
    /* width: 100px;
    height: 100px; */
    /* font-size: 1.3em; */
    /* font-weight: light; */
    /* font-family: "Trebuchet MS", sans-serif; */
    /* text-transform: uppercase; */
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    /* border: none; */
    /* border-radius: 50%; */
    background: #5a99d4;
    cursor: pointer;
    border-color: #C1FE00;
    box-shadow: 0 0 0 0 rgba(#C1FE00, 0.5);
    /* -webkit-animation: pulse 2s infinite; */
}

.pulsebutton:hover {
    animation: pulse 2s;
}

@keyframes pulse {
    0% {

        transform: border-radius(1, 1.2);
    }

    70% {
        transform: scale(1, 1);
        box-shadow: 0 0 0 50px rgba(#C1FE00, 0);
    }

    100% {

        transform: scale(1, 1.2);
        box-shadow: 0 0 0 0 rgba(#C1FE00, 0);
    }
}