 .sidenav {
     height: 100%;
     width: 100%;
     position: fixed;
     background-color: #5A0FE8;
     overflow-x: hidden;
     transition: 0.5s;
     display: flex;
     flex-direction: column;
     padding-top: 30%;
     align-items: center;
     z-index: 1;
     gap: 20px;
 }

 .sidenav a {
     text-decoration: none;
     font-size: 40px;
     color: #ffffff;
     display: block;
     transition: 0.3s;
     opacity: 0;
     transform: translateX(-100%);
     font-family: "Geometric";
 }

 .sidenav.show a {
     opacity: 1;
     transform: translateX(0);
 }

 .sidenav.show a:nth-child(1) {
     transition-delay: 0.1s;
 }

 .sidenav.show a:nth-child(2) {
     transition-delay: 0.2s;
 }

 .sidenav.show a:nth-child(3) {
     transition-delay: 0.3s;
 }

 .sidenav.show a:nth-child(4) {
     transition-delay: 0.4s;
 }

 .icon-sidemenu {
     transition: 1s;
     opacity: 0;
     transform: translateX(-100%);
 }

 .icon-sidemenu.show {
     opacity: 1;
     transform: translateX(0);
 }

 .meni-icon-1 {
     top: 20%;
 }

 .meni-icon-2 {
     transform: rotateX(20deg);
 }