.popcorn-container-hide {
    animation: hidepopcoen 2s forwards;
}

@keyframes hidepopcoen {
    to {
        height: 0px;
    }
}

.popcotn-rotate {
    transform: rotate(0deg);
    animation: rotatePop 1s forwards;
}

@keyframes rotatePop {
    to {
        transform: rotate(90deg);
    }
}