.popcorn-container-hide {
    opacity: 1;
    animation: hidepopcoen 2s 1s forwards;
}

@keyframes hidepopcoen {
    to {
        opacity: 0;
        height: 0px;
    }
}

.popcotn-rotate {
    transform: rotate(0deg);
    animation: rotatePop 1.5s 1s forwards;
}

@keyframes rotatePop {
    to {
        transform: rotate(90deg);
    }
}

.imageRight {
    animation: imageRightIn 1s forwards;
}

@keyframes imageRightIn {
    0% {
        transform: translate(100%, 100%);
    }

    100% {
        transform: translate(0%);
    }

}

.imageLeft {
    animation: imageLeftIn 1s forwards;
}

@keyframes imageLeftIn {
    0% {
        transform: translate(-100%, 100%);
    }

    100% {
        transform: translate(0%);
    }

}